<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Equality.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Equality.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<userSettings>
		<Equality.Properties.Settings>
   <setting name="api_token" serializeAs="String">
    <value />
   </setting>
   <setting name="favorite_boards" serializeAs="String">
    <value />
   </setting>
   <setting name="menu_selected_team" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="menu_selected_project" serializeAs="String">
    <value>0</value>
   </setting>
  </Equality.Properties.Settings>
	</userSettings>
 <applicationSettings>
  <Equality.Properties.Settings>
   <setting name="max_boards_count" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="max_columns_count" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="max_cards_count" serializeAs="String">
    <value>100</value>
   </setting>
  </Equality.Properties.Settings>
 </applicationSettings>
</configuration>

